.product-title {
  font-weight: 700;
  font-size: 1.3em;
}
.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 40px 40px 0;
  padding: 20px;
  font-size: 0.8em;
  box-shadow: 0 0 3px 0 #ddd;
}

.item .category {
  margin-bottom: 20px;
  font-size: 0.8em;
  color: #555;
}

.item .price {
  justify-self: center;
  font-weight: 700;
  color: #222;
}

.item .price span {
  font-size: 2em;
}

.item .image {
  padding: 2% 10%;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.item img {
  max-width: 100%;
  max-height: 100%;
}

.item .description {
  margin-bottom: 10px;
  padding: 10px 5% 10px 5%;
  font-size: 0.8em;
  word-break: break-all;
}

.item a {
  margin-right: 5%;
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
  align-self: flex-end;
}

.item a:hover {
  color: white;
  border-color: brown;
  background-color: brown;
}

@media (max-width: 800px) {
  .product-title {
    margin: 0 15px;
  }

  .item {
    margin: 40px 0;
  }
}
